<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"/>
</head>
<body>
<h3 th:text="${titulo}"></h3>
<form th:action="@{/form}" th:object="${user}" method="post">
    <div>
        <label for="id">id</label>
        <div>
            <input type="text" id="id" th:field="*{id}"/>
        </div>
        <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div>
    </div>
    <div>
        <label for="name">name</label>
        <div>
            <input type="text" id="name" th:field="*{name}"/>
        </div>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    <div>
        <label for="lastname">lastname</label>
        <div>
            <input type="text" id="lastname" th:field="*{lastname}"/>
        </div>
        <div th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
    </div>
    <div>
        <label for="username">username</label>
        <div>
            <input type="text" id="username" th:field="*{username}"/>
        </div>
         <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>
    <div>
        <label for="password">password</label>
        <div>
            <input type="password" id="password" th:field="*{password}"/>
        </div>
         <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    <div>
        <label for="email">email</label>
        <div>
            <input type="text" id="email" th:field="*{email}"/>
        </div>
         <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:value="${email}"></div>
    </div>
    <div>
        <div>
            <input type="submit" value="Enviar"/>
        </div>
    </div>
</form>
</body>
</html>